.Group {
    margin: 15px 10px;
    width: 100%;
}

.GroupHeader {
    margin: 10px 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
}

.scrollH {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    overflow-x: scroll;
}

.scrollV {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-auto-flow: row;
}

.cart {
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 5px;  
}

.groupAddBtn {
    font-size: 16px;
}