.header {
  width: 100%;
  min-height: 80px;
  display: grid;
  grid-template-columns: minmax(auto, 90px) 1fr minmax(auto, 90px);
  grid-template-areas: 
  "icons_left logo icons_right"
  "form       form form       ";
  height: minmax(70px, auto);
  background-color: rgb(45, 82, 247);
  color: #fff;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  padding: 5px 5px;
  &__icons {
    &__left {
      grid-area: icons_left;
    }
    &__right {
      grid-area: icons_right;
    }
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 5px;
  }
  &__title {
    grid-area: logo;
    display: grid;
    grid-auto-flow: row;
    margin: 0;
    font-size: 1.4rem;
    justify-items: center;
    
    a { 
      color: #fff 
    }
  }
  &__logo {
    font-size: 30px;
  }
  &__sublogo {
    font-size: 20px;
  }
  &__search {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 5s ease-in-out;
    color: black;
    opacity: 1;
    max-width: 600px;
    // width: 100%;
    // border: none;
    // border-radius: 5px;
    // padding: 5px 10px;
    // font-size: 15px;
    // &::placeholder {
    //   font-style: oblique;
    // }
  }
}
