.Counter {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(20px, 1fr)) 5fr;
    align-items: center;
    padding: 15px;
    column-gap: 8px;
    button {
        color: white;
        background-color:rgb(45, 82, 247);
        border: none;
        font-size: 15px;
        border-radius: 4px;
        height: 40px;
        &:onclick {
            background-color: blueviolet;
        }
        &:focus {
            outline: none;
        }
        &.rounded {
            font-size: 22px;
            border-radius: 100%;
            width: 40px;
            height: 40px;
        }
    }
}