.header {
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #191F68;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin: 0;
    font-size: 1.4rem;
    
    a { 
      color: #fff 
    }

  }
}