/* Containers */

.Card {
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 5px;
}

/* Float */
.hvr-float {
    // display: inline-block;
    // vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

// ============

.CardS {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.CardXL {
    display: grid;
    grid-auto-columns: 1fr;
    justify-items: center;
    grid-gap: 5px;
}

.CardImage {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card__image {
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.sliderImg {
    width: 100vw;
}


.CardPrice {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: aliceblue;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 12px;
}

.CardDescription {
    font-size: 12px;
    text-align: center;
}

.CardDescriptionXL {
    margin-top: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    justify-items: center;
}

.CardHeaderXL {
    display: grid;
    grid-template-columns: 1fr;
}

.CardAuthorXL {
    color: grey;
    font-size: 12px;
}


.CardAuthor {
    color: grey;
}

/* SIZES */

.squareS {
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.squareM {
    height: 130px;
    width: 130px;
    border-radius: 10px;
}

.squareL {
    height: 180px;
    border-radius: 10px;
}

.squareXL {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
}


.circleM {
    height: 130px;
    width: 130px;
    border-radius: 100%;  
}